{{include "./public/html-header"}}
<link href="/css/support.min.css" rel="stylesheet">
{{include "./nav"}}
<div class="banner-container">
    <div class="banner">
        {{if supportBanner && supportBanner.length > 0}}
            <img src="{{supportBanner[0].link}}" alt="{{chinese ? supportBanner[0].alt : supportBanner[0].altEn}}">
        {{else}}
            <img src="http://ohnpdrepj.bkt.clouddn.com/%E9%BB%98%E8%AE%A4banner.png" alt="default banner">
        {{/if}}
    </div>
</div>
<div class="support-container">
    <div class="support-library">
        <div class="library-title">{{chinese ? "技术智库" : "Technical Library"}}</div>
        <div class="library">
            {{each tech}}
            <a class="library-item" href="/library.html{{chinese ? "" : "?language=en"}}">
                <img src="{{$value.icon.link}}" alt="{{chinese ? $value.icon.alt : $value.icon.altEn}}" class="library-item-icon">
                <h4 class="library-item-title">{{chinese ? $value.title : $value.titleEn}}</h4>
                <div class="library-item-text">{{chinese ? $value.content : $value.contentEn}}</div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
{{include "./footer"}}
<script type="text/javascript" src="/js/support.min.js"></script>
{{include "./public/html-footer"}}
