
@charset "UTF-8";

@font-face {
  font-family: 'iconfont';  /* project id 187021 */
  src: url('//at.alicdn.com/t/font_4akz6afg2su1sjor.eot');
  src: url('//at.alicdn.com/t/font_4akz6afg2su1sjor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_4akz6afg2su1sjor.woff') format('woff'),
  url('//at.alicdn.com/t/font_4akz6afg2su1sjor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_4akz6afg2su1sjor.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

.clear {
    clear: both;
}

@import
    '../abstracts/_variables',
    '../abstracts/_mixins',
    '../abstracts/_functions';

@import
    '../layout/_footer',
    '../layout/_nav',
    '../layout/_sidebar';

