* {
    margin: 0;
    border: 0;
    padding: 0;
    color: #4a4a4a;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "PingFang Sc", "MicroSoft YaHei";
}
